<h2 appTitleSize >Lessons List</h2>

<div class="row" *ngIf="loading$ | async" >
  <div class="col-md-12">
      <mat-spinner></mat-spinner>
  </div>
</div>

<ul class="px-0" *ngIf="!(loading$ | async)">
  <li *ngFor="let lesson of lessonsList$ | async" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ lesson.id }} </p>

        <p class="card-text"><strong>Title:</strong> {{ lesson.title  }} </p>

        <p class="card-text"><strong>Lesson number:</strong> {{ lesson.lessonNumber  }} </p>

        <p class="card-text"><strong>Course:</strong> {{ lesson.course }} </p>


      </div>
      <div class="row mt-3 justify-content-end">
        <ng-container >
          <button  class="col-2 btn btn-primary" (click)="openModalDialog(lesson)" >Edit</button><!--*ngIf="session.userActive?.isAdmin_"-->
          <button  class="col-2 btn btn-edit offset-1" (click)="removeLesson(lesson)" >Remove</button><!--*ngIf="session.userActive?.isAdmin_"-->
        </ng-container>
      </div>
    </div>
  </li>
</ul>
