<app-toolbar></app-toolbar>
  <section class="bg-light-edit d-flex justify-content-center full-fold">
    <div class="container">
      <div class="row align-items-start justify-content-center">
        <ng-container>
        <div class="col-12 col-md-2 my-5 d-flex flex-column align-items-start bg-light navbar-content">
          <ul class="nav flex-column menu-edit" >
            <li class="nav-item ">
              <a class="nav-link" (click)="redigirInicio()"><strong>Home</strong></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="auth/login"><strong>Login</strong></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="students/list"><strong>Students</strong></a>
            </li>
            <li class="nav-item" ><!--*ngIf="!(userActive$ | async)?.isAdmin_"-->
              <a class="nav-link " routerLink="students/add"><em>Add Student</em></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="courses/list"><strong>Courses</strong></a>
            </li>
            <li class="nav-item" ><!--*ngIf="!(userActive$ | async)?.isAdmin_"-->
              <a class="nav-link " routerLink="courses/add"><em>Add Course</em></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="lessons/list"><strong>Lessons</strong></a>
            </li>
            <li class="nav-item " ><!--*ngIf="!(userActive$ | async)?.isAdmin_"-->
              <a class="nav-link " routerLink="lessons/add"><em>Add Lesson</em></a>
            </li>
            <li class="nav-item ">
              <strong><a class="nav-link" (click)="logout()">Logout</a></strong>
            </li>
          </ul>
        </div>
      </ng-container>
        <div class="col-12 col-md-9 offset-1 my-5 mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>



